body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 15px 0;
}

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.logo{
    font-size: 1.5rem;
    font-weight: bolder;
}

.logo:hover{
    background-color: darkblue;
    transform: scaleX(2);
    border-radius: 5px;
}

.nav-list li a:hover {
    background-color: #575757;
}
.container {
    padding: 50px;
}
.profile img {
    width: 150px;
    border-radius: 50%;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
