* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}
/* .main{
    margin-left: 30px;
} */
.header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #333;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
}
.logo-div{
    display: flex;
    justify-content: left;
    background-color: #333;
    color: white;
    margin: 0;
}

.logo-div a{
    text-decoration: none;
}
.logo {
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    padding: 10px;
}
.logo:hover {
    transform: scale(1.2) translateX(10px);
    transition: 0.4s;
    background-color: rgb(118, 139, 0);
    border-radius: 8px;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.navbar a:hover {
    color: #e08f24;
}
/* Styling the profile */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;; 
    margin-top: 130px;
    padding-bottom: 50px;
    
}


.profile {
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    max-width: 1000px; 
    background: #222; 
    padding: 20px;
    border-radius: 10px;
}
.profile img {
    width: 150px;
    transition: transform 0.4s ease;
    position: absolute;
    left: -180px;
    border-radius: 50%;
}
.profile:hover img {
    transform: scale(1.2);
    
}
.profile:hover .profile-text {
    transform: translateX(20px); 
    transition: transform 0.4s ease;
    color: #e08f24;
}
.profile-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    line-height: 1.5;
}

.profile-text h1 {
    margin-bottom: 10px;
}
.home-p1{
    margin: 20px;
    color: #d1b799;
    text-decoration: underline;
    font-size: 1.2rem;
    padding: 10px;
    line-height: 1.7;
}
.home-p2{
    margin: 20px;
    color: #d4cdc4;
    text-decoration: none;
    padding: 10px;
    text-align: justify;
}
.social{
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; 
}
.social a{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    padding: 5px;
    color: rgb(148, 182, 182);
    text-decoration: none;
    /* width: calc(33.33% - 20px); */
    /* min-width: 150px; */
}
.social a:hover{
    color: #e08f24;
    transform: translateY(-10px);
    transition: transform 0.4s ease;
    
}
.About{
    background: #333;
    padding: 30px;
    border-radius: 10px;
    width: 60vw;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background 0.3s ease;
    margin-top: 200px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;
}
.About li{
    list-style:square;
    text-align: left;
    padding: 4px;
}
.About h2 {
    margin-bottom: 10px;
    color: #e08f24;
}
.About h3{
    margin: 10px;
    color: aqua;
}
.About p{
    text-align: justify;
    line-height: 1.5;
}
.About:hover {
    transform: translateY(-10px);
    background: #222;
}
/* Style Cards */
.cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 100vw; 
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background 0.3s ease;
    margin-top: 100px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;
}

.card:hover {
    transform: translateY(-10px);
    background: #333;
}

.card h2 {
    margin-bottom: 10px;
    color: #e08f24;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
}
#Academic h3{
    margin: 10px;
    color: aqua;
}
.qualification{
    width: 100%;
    /* border-collapse: collapse; */
}
.qualification th, td {
    border: 1px solid #d1b799;
    padding: 10px;
    text-align: left;
}
.qualification th {
    background-color: #d0e14a;
    color: #271d1d;
    padding: 5px;
}
.qualification tr:nth-child(even) {
    background-color: #444;
}
#Services li{
    list-style:disc;
    text-align: left;
    padding: 5px;
}
/* Style Contact form */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #222;
    margin-top: 20px;
    width: 70vw;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    scroll-margin-top: 100px;
}

.contact-frm {
    background: #333;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 4px 10px #b2b2067b;
}

.contact-frm h2 {
    text-align: center;
    color: #e08f24;
    margin-bottom: 20px;
}

.contact-frm label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.contact-frm input, 
.contact-frm textarea {
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #444;
    color: white;
}

.contact-frm input:focus, 
.contact-frm textarea:focus {
    outline: 2px solid #e08f24;
}

.contact-frm button {
    width: 20%x;
    padding: 10px;
    background: #e08f24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    margin-left: 0;
}

.contact-frm button:hover {
    background: #8f4e04;
}

